$grey: #212121;
$white: #ffffff;

.body{
	background-color: $grey;
	transition: background-color 0.3s ease-in-out;
}

.bgred{
	background-color: red;
}
.bgblue{
	background-color: blue;
}
.bgyellow{
	background-color: yellow;
}
.bggreen{
	background-color: green;
}
.bgviolet{
	background-color: violet;
}

.text{
	color: $white;
	position: absolute;
	font-family: "Arial", sans-serif;
	left: 44.5%;
	top: 20%;
}

.circle1{
	width: 150px;
	height: 150px;
	background-color: red;
	border: 3px solid $white;
	border-radius: 100%;
	position: absolute;
	top: 45%;
	left: 15%;
	cursor: pointer;
	transition: border 0.3s ease-in-out;
}

.circle1:active{
	border-color: red;
	background-color: $white;
}

.circle2{
	width: 150px;
	height: 150px;
	background-color: blue;
	border: 3px solid $white;
	border-radius: 100%;
	position: absolute;
	top: 45%;
	left: 30%;
	cursor: pointer;
	transition: border 0.3s ease-in-out;
}

.circle2:active{
	border-color: blue;
	background-color: $white;
}

.circle3{
	width: 150px;
	height: 150px;
	background-color: yellow;
	border: 3px solid $white;
	border-radius: 100%;
	position: absolute;
	top: 45%;
	left: 45%;
	cursor: pointer;
	transition: border 0.3s ease-in-out;
}

.circle3:active{
	border-color: yellow;
	background-color: $white;
}

.circle4{
	width: 150px;
	height: 150px;
	background-color: green;
	border: 3px solid $white;
	border-radius: 100%;
	position: absolute;
	top: 45%;
	left: 60%;
	cursor: pointer;
	transition: border 0.3s ease-in-out;
}

.circle4:active{
	border-color: green;
	background-color: $white;

}

.circle5{
	width: 150px;
	height: 150px;
	background-color: violet;
	border: 3px solid $white;
	border-radius: 100%;
	position: absolute;
	top: 45%;
	left: 75%;
	cursor: pointer;
	transition: border 0.3s ease-in-out;
}

.circle5:active{
	border-color: violet;
	background-color: $white;
}
